services:
  back:
    environment:
      - RASPI_TOKEN
    build: ./back
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/healthz"] 
      interval: 10s
      timeout: 3s
      retries: 3

  caddy:
    image: caddy:alpine
    ports:
      - "3000:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./front:/srv:ro
