services:
  back:
    image: jafber/frogwatch-back
    build:
      context: ./back
      dockerfile: Dockerfile
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/healthz"] 
      interval: 10s
      timeout: 3s
      retries: 3

  front:
    image: jafber/frogwatch-front
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"] 
      interval: 10s
      timeout: 3s
      retries: 3
