services:
  back:
    environment:
      - RASPI_TOKEN
    build: ./back

  caddy:
    image: caddy:alpine
    ports:
      - "3000:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./front:/srv:ro
